<div id="main-container" >
	<div  class="page-wrapper" >
		<!--HEADER -->
		<div id="header">
			<div class="section-boxed section-header">
			<div id="logo-container" style="width: 200px;">
								<a href="http://pexetothemes.com/demos/mineral_wp"><img style="width: 200px;" src="/assets/logo.jpg" /></a>
			</div>	
				<div id="social-profiles"><ul class="social-icons">
		
		</ul></div>
		
	        <div class="mobile-nav">
				<span class="mob-nav-btn">Menu</span>
			</div>
	 		<div id="navigation-container">
				<div id="menu-container">
		        	<div id="menu">
					<ul id="menu-main-menu" class="menu"><li id="menu-item-834" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-834"><a href="#">Solutions</a>
<ul class="sub-menu">
	<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-50"><a href="http://pexetothemes.com/demos/mineral_wp/">Talent Relationship Management</a></li>
	<li id="menu-item-881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-881"><a href="http://pexetothemes.com/demos/mineral_wp/home-business/">Corporate Alumni Management</a></li>
	<li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-474"><a href="http://pexetothemes.com/demos/mineral_wp/home-page-with-nivo-slider/">Non-Profit Solutions</a></li>
	<li id="menu-item-968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-968"><a href="http://pexetothemes.com/demos/mineral_wp/home-colorful/">Editions</a></li>
</ul>
</li>
<li id="menu-item-835" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-835"><a href="#">Customers</a>
<ul class="sub-menu">
	<li id="menu-item-397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/">Case Studies</a></li>
	<li id="menu-item-415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-415"><a href="#">Fraunhofer-Gesellschaft</a></li>
</ul>
</li>
<li id="menu-item-836" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-836"><a href="#">About IntraWorlds</a>
<ul class="sub-menu">
	<li id="menu-item-339" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"><a href="http://pexetothemes.com/demos/mineral_wp/unlimited-skins/">Management</a></li>
	<li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7"><a href="http://pexetothemes.com/demos/mineral_wp/styled-elements/">Events</a></li>
	<li id="menu-item-724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a href="http://pexetothemes.com/demos/mineral_wp/services-boxes/">Connect</a></li>
	<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://pexetothemes.com/demos/mineral_wp/images-and-videos/">Data Security</a></li>
	<li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/">Careers</a></li>
	<li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-282"><a href="http://pexetothemes.com/demos/mineral_wp/font-management/">Press</a></li>
	<li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-236"><a href="http://pexetothemes.com/demos/mineral_wp/archive-page/">Locations</a></li>
	<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="http://pexetothemes.com/demos/mineral_wp/columns/">Contact Us</a></li>
</ul>
</li>
<li id="menu-item-837" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-837"><a href="#">Blog</a>
<ul class="sub-menu">
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">About The Blog</a></li>
</ul>
</li>
<li id="menu-item-838" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-837"><a href="#">Resources</a>
<ul class="sub-menu">
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Insights</a></li>
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Videos</a></li>
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Presentations</a></li>
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Talent Quality</a></li>
</ul>
</li>
</ul>					</div>
		        </div> 
	  	 	</div> 
	 
		    <div class="clear"></div>       
		    <div id="navigation-line"></div>
		</div>
		</div><!-- end #header -->

<div id="slider-container">
<div class="content-slider-wrapper" >
<div class="content-slider cols-wrapper cols-2" id="content-slider-23" >
	<div class="section-boxed">
	<ul id="cs-slider-ul" style="min-height:300px;">
		
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2490679ddd-music-m.jpg" data-bg_image_opacity="0.4" data-layout="text-img" data-animation="slideRight" data-bg_color="008383" class="cs-layout-text-img" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-left col cs-content">
					<p class="cs-small-title cs-element">This Is How We Built It</p>

					 <h1 class="cs-title cs-element">For People By People</h1>

					<p class="cs-element">Enterprises want the best talent now; all while saving recruiting costs. Our IntraWorlds solution enables businesses to leverage employer branding and human resources marketing to boost results in high quality applications.</p>
							<p class="clear"></p>
					
					<a href="#" class="button cs-element">About Intraworlds</a>

					<a href="#" class="button btn-alt cs-element">Our Solutions</a>
									</div>
				<!-- second slider box -->

								<div class="cs-content-right col nomargin">
									</div>
							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/bright-lights-big2-city.jpg" data-bg_image_opacity="0.4" data-layout="centered" data-animation="slideUp" data-bg_color="353058" class="cs-layout-centered" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-centered col cs-content">
					<p class="cs-small-title cs-element">We Build</p>

					 <h1 class="cs-title cs-element">Unique Talent Software Solutions</h1>

					<p class="cs-element">With our Corporate Alumni Management Software you can always maintain contact with your former employees. As knowledge carriers and brand ambassadors, your alumni play a defining role in your business development and re-hiring goals.</p>
							<p class="clear"></p>
					
					<a href="#" class="button btn-alt cs-element">About Intraworlds</a>
									</div>
				<!-- second slider box -->

							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-98343dd2-new-yorkdd-city-m-fw.png" data-bg_image_opacity="1" data-layout="text-img" data-animation="slideLeft" data-bg_color="" class="cs-layout-text-img" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-left col cs-content">
					<p class="cs-small-title cs-element">We Build for</p>

					 <h1 class="cs-title cs-element">Modern Business</h1>

					<p class="cs-element">IntraWorlds is an expert in talent relationship and sourcing solutions. Our innovative recruitment software solutions are flexible and help customers better manage candidate pools. Benefit from our regular release updates and continuous development of our technology.</p>
							<p class="clear"></p>
					
					<a href="#" class="button cs-element">IntraWorlds</a>

					<a href="#" class="button btn-alt cs-element">View Case Study</a>
									</div>
				<!-- second slider box -->

								<div class="cs-content-right col nomargin">
											<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/Untitled-1-500x290.png" class="cs-element" />
									</div>
							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/09/doctype-hi-res.jpg" data-bg_image_opacity="0.9" data-layout="centered" data-animation="random" data-bg_color="" class="cs-layout-centered" style="color:#30404d;">

				<!-- first slider box -->
				<div class="cs-content-centered col cs-content">
					<p class="cs-small-title cs-element">The Perfect Solution for</p>

					 <h1 class="cs-title cs-element">Talent Recruitment and Retention</h1>

					<a href="#" class="button cs-element">Learn More</a>

									</div>
				<!-- second slider box -->

							</li>
	</ul>
</div>
</div>
</div></div><div id="content-container" class=" layout-full">
<div id="full-width">
<div class="custom-page-content">
<div class="section-boxed"><div class="services-wrapper services-icon cols-wrapper cols-3 pexeto-parallax"><div class="services-box col"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/1374130899_settings.png" /></a><div class="services-content"><div class="sc-wraper"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><h3>End to End Solutions</h3></a><p> IntraWorlds is an expert in talent relationship and sourcing solutions. Our innovative recruitment software solutions are flexible and help customers better manage candidate pools.</p></div></div></div><div class="services-box col"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/1374130895_share.png" /></a><div class="services-content"><div class="sc-wraper"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><h3>Built For People</h3></a><p>Your businesses success depends on your ability to recruit the best employees. Set your company apart from its competitors, grow your talent community and maintain an active talent acquisition program with IntraWorlds innovative recruitment software.</p></div></div></div><div class="services-box col nomargin"><a href="http://pexetothemes.com/demos/mineral_wp/unlimited-skins/" /><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/1374130902_Infinity-Loop.png" /></a><div class="services-content"><div class="sc-wraper"><a href="http://pexetothemes.com/demos/mineral_wp/unlimited-skins/" /><h3>Infinite Possibilities</h3></a><p>With IntraWorlds, you can strategically source top talent and build a pool of entry-level and experienced employees. Candidates can have an interactive and personal experience by creating an online profile on your website – all through the use of our platform.</p></div></div></div><div class="clear"></div></div></p>
</div>
<div class="section-full-width section-light" style="background-color:#F4FBFD;"><div class="section-boxed" style="color:#82acbd;"><h4 style="color:#3DA3CC;" class="sub-title">introducing</h4><h2 class="section-title" style="color:#3DA3CC;">The IntraWorlds Approach</h2>
<p style="text-align: center;">At IntraWorlds, we want to make sure that you are continually learning about the latest talent acquisition, engagement and recruiting insights. View our latest resources to ensure your human resources function is achieving the best possible outcome.<img class="img-frame aligncenter" alt="" src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/devices2.png" /></p>
<p></div></div>
<div class="section-boxed">
<div class="testimonial-container pexeto-parallax"><div class="testimonial-info"><img class="img-frame testimonial-img" src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-3473199-smiling-group-m2-150x150.jpg" alt="" /><div class="testimonials-details"><h2>Jonathan Doe</h2><span>Web Developer / <a href="#">Pexeto</a></span></div></div><blockquote><p>IntraWorlds enabled my company to grow via x y & z.  Without their unique approach to talent management, we could not be where we are today.</p></blockquote><div class="clear"></div></div>
</div>
<p><div class="section-full-width section-dark-bg parallax-fixed" style="background-color:#3ca4cf;"><div style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-4510604-walkway-of-airport-m.jpg); opacity:0.5; filter: alpha(opacity=50);" class="full-bg-image" ></div><div class="section-boxed" style="color:#ffffff;"><h2 class="section-title" style="color:#ffffff;">Collaborate with Your Team</h2><h4 style="color:#ffffff;" class="sub-title">Using the unique IntraWorlds talent software</h4>We aim to fundamentally improve every business that chooses IntraWorlds.  Our software is built by people, for people.  We aim to provide industry-leading solutions that allow you to focus on your business, we'll take care of the rest.</div></div>

<p><div class="section-full-width section-dark" style="background-color:#454849;"><div class="section-boxed" style="color:#ffffff;"><h2 class="section-title" style="color:#ffffff;">Case Studies</h2>Select one of the several options below to view a real IntraWorlds partnership example, and see how IntraWorlds added unique value to its partnered business.</p>
<div class="portfolio-carousel pc-no-link"><div class="pc-header"><div class="carousel-title"> <h4 class="small-title">Recent Projects</h4></div></div><div class="pc-wrapper"><div class="pc-holder"><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="fullslider" data-itemid="328"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/wide-image-slider-item/" title="Wide Image Slider Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/pump_without_pump-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon fullslider-icon"></span></span><div class="pg-details"><h2>Wide Image Slider Item</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="smallslider" data-itemid="302"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/the-standard-page-item/" title="Week Projects" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/skyline-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon smallslider-icon"></span></span><div class="pg-details"><h2>Week Projects</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="fullslider" data-itemid="93"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/one-column-slider/" title="One Column Slider" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-4794832d-girl-swinging-m-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon fullslider-icon"></span></span><div class="pg-details"><h2>One Column Slider</h2><span class="pg-categories">Design / People</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="smallslider" data-itemid="319"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/image-slider-item/" title="Image Slider Item " ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/doctype-hi-res1-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon smallslider-icon"></span></span><div class="pg-details"><h2>Image Slider Item </h2><span class="pg-categories">Design / Photography</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="standard" data-itemid="104"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/standard-page-link-item/" title="Standard Page Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2516147dddddd-palm-van-m1-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon standard-icon"></span></span><div class="pg-details"><h2>Standard Page Item</h2><span class="pg-categories">Design / Photography</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="lightbox" data-itemid="299"><a href="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-233439933-hight-mountains-caucasus-dombay-m.jpg" title="Images In Lightbox" rel="pglightbox" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-233439933-hight-mountains-caucasus-dombay-m-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon lightbox-icon"></span></span><div class="pg-details"><h2>Images In Lightbox</h2><span class="pg-categories">Design / Photography</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="standard" data-itemid="363"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/just-a-standard-page-item/" title="Just A Standard Page Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/6104272986_df22608f86_o-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon standard-icon"></span></span><div class="pg-details"><h2>Just A Standard Page Item</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="custom" data-itemid="117"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/" title="Custom Link Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2727050ddd-white-romance-m-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon custom-icon"></span></span><div class="pg-details"><h2>Custom Link Item</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="lightbox" data-itemid="360"><a href="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/5958795851_287d3dfc42_o.jpg" title="Illustrations in Lightbox " rel="pglightbox" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/5958795851_287d3dfc42_o-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon lightbox-icon"></span></span><div class="pg-details"><h2>Illustrations in Lightbox </h2><span class="pg-categories">Design / Illustration</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="fullvideo" data-itemid="306"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/wide-video-item/" title="Wide Video Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/office-illustrations-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon fullvideo-icon"></span></span><div class="pg-details"><h2>Wide Video Item</h2><span class="pg-categories">Design / Video</span></div></div></a></div></div></div></div><div class="clear"></div></div>
<p></div></div>
<div class="section-boxed">
<div class="services-wrapper services-circle pexeto-parallax"><div class="services-title-box col"><h2>Meet The Team</h2><p>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit. Vestibulum iaculis quam nec diam sagittis cursus. Nunc quis aliquam erat, et eleifend orci</p></div><div class="services-box col" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/FACE41.jpg)"><div class="services-content"><div class="sc-wraper"><a href="#" /><h3>Lisa Kimberly</h3><p>Consectetur nullam ut  dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit.</p></a></div></div></div><div class="services-box col" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-3473199-smiling-group-m1.jpg)"><div class="services-content"><div class="sc-wraper"><a href="#" /><h3>Johnson Harris</h3><p>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit.</p></a></div></div></div><div class="services-box col" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/face31.jpg)"><div class="services-content"><div class="sc-wraper"><a href="#" /><h3>Elizabeth Brown</h3><p>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit.</p></a></div></div></div><div class="clear"></div></div></div>
</div>
</div> <!-- end main content holder (#content/#full-width) -->
<div class="clear"></div>
</div> <!-- end #content-container -->
</div>
<div id="footer" class="center">
		<div class="scroll-to-top"><span></span></div>
	
		<div id="footer-cta">
		<div class="section-boxed">

				<div class="clear"></div>
	</div>
	</div>
		<div class="cols-wrapper footer-widgets section-boxed cols-4">


<div class="col"><div class="footer-box widget_categories" id="categories-4"><h4 class="title">Solutions</h4>		<ul>
	<li class="cat-item cat-item-44"><a href="http://pexetothemes.com/demos/mineral_wp/category/featured/" title="View all posts filed under Featured">Talent Relationship Management</a>
</li>
	<li class="cat-item cat-item-13"><a href="http://pexetothemes.com/demos/mineral_wp/category/general/" title="View all posts filed under General">Corporate Alumni Management</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://pexetothemes.com/demos/mineral_wp/category/photography/" title="View all posts filed under Photography">Non-Profit Solutions</a>
</li>
	<li class="cat-item cat-item-15"><a href="http://pexetothemes.com/demos/mineral_wp/category/productivity/" title="View all posts filed under Productivity">Editions</a>
</li>
		</ul>
</div></div>


<div class="col"><div class="footer-box widget_categories" id="categories-4"><h4 class="title">Customers</h4>		<ul>
	<li class="cat-item cat-item-44"><a href="http://pexetothemes.com/demos/mineral_wp/category/featured/" title="View all posts filed under Featured">Case Studies</a>
</li>
	<li class="cat-item cat-item-13"><a href="http://pexetothemes.com/demos/mineral_wp/category/general/" title="View all posts filed under General">Fraunhofer Gesellschaft</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://pexetothemes.com/demos/mineral_wp/category/photography/" title="View all posts filed under Photography">Individuals</a>
</li>
	<li class="cat-item cat-item-15"><a href="http://pexetothemes.com/demos/mineral_wp/category/productivity/" title="View all posts filed under Productivity">Testimonials</a>
</li>
		</ul>
</div></div>


<div class="col"><div class="footer-box widget_categories" id="categories-4"><h4 class="title">About</h4>		<ul>
	<li class="cat-item cat-item-44"><a href="http://pexetothemes.com/demos/mineral_wp/category/featured/" title="View all posts filed under Featured">Management</a>
</li>
	<li class="cat-item cat-item-13"><a href="http://pexetothemes.com/demos/mineral_wp/category/general/" title="View all posts filed under General">Events</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://pexetothemes.com/demos/mineral_wp/category/photography/" title="View all posts filed under Photography">Connect</a>
</li>
	<li class="cat-item cat-item-15"><a href="http://pexetothemes.com/demos/mineral_wp/category/productivity/" title="View all posts filed under Productivity">Data Security</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://pexetothemes.com/demos/mineral_wp/category/uncategorized/" title="View all posts filed under Uncategorized">Careers</a>
</li>
	<li class="cat-item cat-item-16"><a href="http://pexetothemes.com/demos/mineral_wp/category/videos/" title="View all posts filed under Videos">Press</a>
</li>
		</ul>
</div></div>


<div class="col nomargin"><div class="footer-box posts_multi" id="portfolio-posts-multi-4"><h4 class="title">Latest Projects</h4> <ul class="portfolio-items-widget">
 
<li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/side-description-slider/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/3929956778_4809d7e575_o-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/wider-slider/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2516147dddddd-palm-van-m-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/lazy-image-loading/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/5386099858_588183d3b4_o-90x90.png" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/image-slider-item/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/doctype-hi-res1-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/home-business/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/3853779489_0d05f994b7_o-90x90.gif" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/images-in-lightbox/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-233439933-hight-mountains-caucasus-dombay-m-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/full-width-slider/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/3062961982_e4c7534ecf_o-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/slider-with-side-discription/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/7390057264_6e97e04012_o-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/standard-page-link-item/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2516147dddddd-palm-van-m1-90x90.jpg" class="img-frame"/></a></li></ul></div></div>	</div>
	<div class="footer-bottom">
	<div class="section-boxed">
<span class="copyrights">
&copy; Copyright Mineral &#8211; Responsive WordPress Theme</span>
<div class="footer-nav">
<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-343"><a href="http://pexetothemes.com/demos/mineral_wp/">Home</a></li>
<li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Blog</a></li>
<li id="menu-item-342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-342"><a href="http://pexetothemes.com/demos/mineral_wp/contact/">Contact</a></li>
</ul></div></div>

	<div id="social-profiles"><ul class="social-icons">
		<li>
		<a href="http://www.facebook.com/pages/Pexeto/154921334549933" target="_blank"  title="Pexeto on Facebook">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/facebook.png" alt="" />
			</div>
		</a>
	</li>
		<li>
		<a href="https://twitter.com/pexeto" target="_blank"  title="Follow us on Twitter">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/twitter.png" alt="" />
			</div>
		</a>
	</li>
		<li>
		<a href="https://plus.google.com/114425844684215069484/posts" target="_blank"  title="Pexeto on Google+">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/googleplus.png" alt="" />
			</div>
		</a>
	</li>
		</ul></div>
	
</div>
</div>
</div> <!-- end #footer-->
</div> <!-- end #main-container -->