<div id="main-container" >
	<div  class="page-wrapper" >
		<!--HEADER -->
		<div id="header">
			<div class="section-boxed section-header">
			<div id="logo-container">
								<a href="http://pexetothemes.com/demos/mineral_wp"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/logo@2x.png" /></a>
			</div>	
				<div id="social-profiles"><ul class="social-icons">
		<li>
		<a href="http://www.facebook.com/pages/Pexeto/154921334549933" target="_blank"  title="Pexeto on Facebook">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/facebook.png" alt="" />
			</div>
		</a>
	</li>
		<li>
		<a href="https://twitter.com/pexeto" target="_blank"  title="Follow us on Twitter">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/twitter.png" alt="" />
			</div>
		</a>
	</li>
		<li>
		<a href="https://plus.google.com/114425844684215069484/posts" target="_blank"  title="Pexeto on Google+">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/googleplus.png" alt="" />
			</div>
		</a>
	</li>
		</ul></div>
		
	        <div class="mobile-nav">
				<span class="mob-nav-btn">Menu</span>
			</div>
	 		<div id="navigation-container">
				<div id="menu-container">
		        	<div id="menu">
					<ul id="menu-main-menu" class="menu"><li id="menu-item-834" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-834"><a href="#">Home</a>
<ul class="sub-menu">
	<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-50"><a href="http://pexetothemes.com/demos/mineral_wp/">Home Example 1</a></li>
	<li id="menu-item-881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-881"><a href="http://pexetothemes.com/demos/mineral_wp/home-business/">Home Example 2</a></li>
	<li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-474"><a href="http://pexetothemes.com/demos/mineral_wp/home-page-with-nivo-slider/">Home Example 3</a></li>
	<li id="menu-item-968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-968"><a href="http://pexetothemes.com/demos/mineral_wp/home-colorful/">Home Example 4</a></li>
	<li id="menu-item-791" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-791"><a href="http://pexetothemes.com/demos/mineral_wp/home-photography/">Home Example 5</a></li>
</ul>
</li>
<li id="menu-item-835" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-835"><a href="#">Galleries</a>
<ul class="sub-menu">
	<li id="menu-item-397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/">Mixed Item Gallery</a></li>
	<li id="menu-item-415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-415"><a href="#">Lightbox Gallery</a>
	<ul class="sub-menu">
		<li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="http://pexetothemes.com/demos/mineral_wp/lightbox-gallery-album-preview/">Album Preview</a></li>
		<li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416"><a href="http://pexetothemes.com/demos/mineral_wp/lightbox-gallery-single-preview/">Single Preview</a></li>
	</ul>
</li>
	<li id="menu-item-426" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-426"><a href="#">Masonry Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="http://pexetothemes.com/demos/mineral_wp/masonry-layout-two-columns/">Two Columns</a></li>
		<li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="http://pexetothemes.com/demos/mineral_wp/masonry-layout-three-columns/">Three Columns</a></li>
		<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://pexetothemes.com/demos/mineral_wp/masonry-layout-four-columns/">Four Columns</a></li>
	</ul>
</li>
	<li id="menu-item-435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-435"><a href="#">Standard Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-438"><a href="http://pexetothemes.com/demos/mineral_wp/standard-layout-two-columns/">Two Columns</a></li>
		<li id="menu-item-436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-436"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/">Three Columns</a></li>
		<li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437"><a href="http://pexetothemes.com/demos/mineral_wp/standard-layout-four-columns/">Four Columns</a></li>
	</ul>
</li>
	<li id="menu-item-410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-410"><a href="#">Quick Gallery</a>
	<ul class="sub-menu">
		<li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"><a href="http://pexetothemes.com/demos/mineral_wp/quick-gallery-full-width-layout/">Full width layout</a></li>
		<li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-409"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/quick-gallery-masonry/">Masonry Layout</a></li>
		<li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-407"><a href="http://pexetothemes.com/demos/mineral_wp/quick-gallery-sidebar-layout/">Sidebar Layout</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-836" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-836"><a href="#">Features</a>
<ul class="sub-menu">
	<li id="menu-item-339" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"><a href="http://pexetothemes.com/demos/mineral_wp/unlimited-skins/">Unlimited Skins</a></li>
	<li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7"><a href="http://pexetothemes.com/demos/mineral_wp/styled-elements/">Styled Elements</a></li>
	<li id="menu-item-724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a href="http://pexetothemes.com/demos/mineral_wp/services-boxes/">Services Boxes</a></li>
	<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://pexetothemes.com/demos/mineral_wp/images-and-videos/">Images and Videos</a></li>
	<li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/">Advanced Admin</a></li>
	<li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-282"><a href="http://pexetothemes.com/demos/mineral_wp/font-management/">Font Management</a></li>
	<li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-236"><a href="http://pexetothemes.com/demos/mineral_wp/archive-page/">Archive Page</a></li>
	<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="http://pexetothemes.com/demos/mineral_wp/columns/">Columns</a></li>
</ul>
</li>
<li id="menu-item-837" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-837"><a href="#">Blog</a>
<ul class="sub-menu">
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Standard Layout</a></li>
	<li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="http://pexetothemes.com/demos/mineral_wp/blog-two-column-layout/">Two Columns</a></li>
	<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="http://pexetothemes.com/demos/mineral_wp/blog-three-column-layout/">Three Columns</a></li>
	<li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="http://pexetothemes.com/demos/mineral_wp/blog-full-width-layout/">Full-width layout</a></li>
</ul>
</li>
<li id="menu-item-75" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-75"><a href="http://pexetothemes.com/demos/mineral_wp/contact/">Contact</a></li>
</ul>					</div>
		        </div> 
	  	 	</div> 
	 
		    <div class="clear"></div>       
		    <div id="navigation-line"></div>
		</div>
		</div><!-- end #header -->

<div id="slider-container">
<div class="content-slider-wrapper" >
<div class="content-slider cols-wrapper cols-2" id="content-slider-23" >
	<div class="section-boxed">
	<ul id="cs-slider-ul" style="min-height:300px;">
		
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2490679ddd-music-m.jpg" data-bg_image_opacity="0.4" data-layout="text-img" data-animation="slideRight" data-bg_color="008383" class="cs-layout-text-img" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-left col cs-content">
					<p class="cs-small-title cs-element">This Is How We Built It</p>

					 <h1 class="cs-title cs-element">Responsive And Parallax</h1>

					<p class="cs-element">Donec et leo purus, ut tincidunt ligula. Vestibulum tempor, justo sit amet porttitor eleifend, justo massa cursus ante, a pulvinar magna nunc ut risus. Aenean condimentum, arcu ut imperdiet aliquam, metus arcu aliquet neque, a hendrerit erat arcu congue est.</p>
							<p class="clear"></p>
					
					<a href="#" class="button cs-element">Learn More</a>

					<a href="#" class="button btn-alt cs-element">View Demo</a>
									</div>
				<!-- second slider box -->

								<div class="cs-content-right col nomargin">
									</div>
							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/bright-lights-big2-city.jpg" data-bg_image_opacity="0.4" data-layout="centered" data-animation="slideUp" data-bg_color="353058" class="cs-layout-centered" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-centered col cs-content">
					<p class="cs-small-title cs-element">Crafted By</p>

					 <h1 class="cs-title cs-element">Web Designers And Developers</h1>

					<p class="cs-element">Vestibulum aliquet, odio at gravida tristique, tellus enim faucibus libero, ut lobortis massa purus fermentum nisl. Vivamus pharetra aliquam mauris in ultricies. Aliquam at ullamcorper arcu.</p>
							<p class="clear"></p>
					
					<a href="#" class="button btn-alt cs-element">Learn More</a>
									</div>
				<!-- second slider box -->

							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-98343dd2-new-yorkdd-city-m-fw.png" data-bg_image_opacity="1" data-layout="text-img" data-animation="slideLeft" data-bg_color="" class="cs-layout-text-img" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-left col cs-content">
					<p class="cs-small-title cs-element">Our Story About</p>

					 <h1 class="cs-title cs-element">Adapting To A Responsive Design</h1>

					<p class="cs-element">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet dapibus augue. Aliquam erat volutpat. Maecenas volutpat ligula vehicula nisl tempor luctus. Praesent vestibulum neque velit, rutrum accumsan tortor dapibus non. Cras hendrerit eu turpis a feugiat.</p>
							<p class="clear"></p>
					
					<a href="#" class="button cs-element">Learn More</a>

					<a href="#" class="button btn-alt cs-element">View Case Study</a>
									</div>
				<!-- second slider box -->

								<div class="cs-content-right col nomargin">
											<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/Untitled-1-500x290.png" class="cs-element" />
									</div>
							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/09/doctype-hi-res.jpg" data-bg_image_opacity="0.9" data-layout="centered" data-animation="random" data-bg_color="" class="cs-layout-centered" style="color:#30404d;">

				<!-- first slider box -->
				<div class="cs-content-centered col cs-content">
					<p class="cs-small-title cs-element">The Perfect Theme For</p>

					 <h1 class="cs-title cs-element">Creative Website Publishing</h1>

					<a href="#" class="button cs-element">Learn More</a>

									</div>
				<!-- second slider box -->

							</li>
			 <li data-bg_image_url="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/09/photodune2-2334399-hight-mountains-caucasus-dombay-m.jpg" data-bg_image_opacity="0.3" data-layout="video-text" data-animation="random" data-bg_color="293947" data-video="PlblwP2oa-0" class="cs-layout-video-text" style="color:#;">

				<!-- first slider box -->
				<div class="cs-content-right col cs-content">
					<p class="cs-small-title cs-element">YouTube Video</p>

					 <h1 class="cs-title cs-element">Everest Time Lapse</h1>

					<p class="cs-element">Nulla aliquet volutpat pharetra. Curabitur hendrerit mauris at nunc lacinia iaculis. Vestibulum pretium turpis orci, quis pulvinar magna. Vestibulum pulvinar aliquet dui pulvinar consectetur. </p>
							<p class="clear"></p>
					
					<a href="#" class="button btn-alt cs-element">Learn More</a>
									</div>
				<!-- second slider box -->

								<div class="cs-content-left cs-type-video col nomargin">
					
					<div class="cs-video video-wrap"></div>				</div>
							</li>	</ul>
</div>
</div>
</div></div><div id="content-container" class=" layout-full">
<div id="full-width">
<div class="custom-page-content">
<div class="section-boxed"><div class="services-wrapper services-icon cols-wrapper cols-3 pexeto-parallax"><div class="services-box col"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/1374130899_settings.png" /></a><div class="services-content"><div class="sc-wraper"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><h3>Powerful Admin</h3></a><p> Aenean vestibulum mi quis est ultrices vehicula. Quisque pellentesque augue ante, eget placerat odio adipiscing sed.</p></div></div></div><div class="services-box col"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/1374130895_share.png" /></a><div class="services-content"><div class="sc-wraper"><a href="http://pexetothemes.com/demos/mineral_wp/advanced-admin/" /><h3>Built For Humans</h3></a><p>Quisque pellentesque augue ante, eget placerat odio adipiscing sed.  Aenean vestibulum mi ultrices.</p></div></div></div><div class="services-box col nomargin"><a href="http://pexetothemes.com/demos/mineral_wp/unlimited-skins/" /><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/1374130902_Infinity-Loop.png" /></a><div class="services-content"><div class="sc-wraper"><a href="http://pexetothemes.com/demos/mineral_wp/unlimited-skins/" /><h3>Easy Customization</h3></a><p>Vestibulum aenean mi quis est ultrices vehicula. Quisque pellentesque augue ante, eget placerat odio adipiscing sed. </p></div></div></div><div class="clear"></div></div></p>
</div>
<div class="section-full-width section-light" style="background-color:#F4FBFD;"><div class="section-boxed" style="color:#82acbd;"><h4 style="color:#3DA3CC;" class="sub-title">introducing</h4><h2 class="section-title" style="color:#3DA3CC;">Responsive Design</h2>
<p style="text-align: center;">Responsive web design is a web design approach aimed at crafting sites to provide an optimal viewing experience—easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from desktop computer monitors to mobile phones)<img class="img-frame aligncenter" alt="" src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/devices2.png" /></p>
<p></div></div>
<div class="section-boxed">
<div class="testimonial-container pexeto-parallax"><div class="testimonial-info"><img class="img-frame testimonial-img" src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-3473199-smiling-group-m2-150x150.jpg" alt="" /><div class="testimonials-details"><h2>Jonathan Doe</h2><span>Web Developer / <a href="#">Pexeto</a></span></div></div><blockquote><p>Aenean vitae metus justo. Duis luctus dui nec condimentum suscipit. Maecenas tempor arcu in ipsum aliquam, vel porttitor odio dictum. Nullam porttitor eget lorem nec imperdiet. Mauris ultricies purus risus, ac viverra risus vulputate nec.</p></blockquote><div class="clear"></div></div>
</div>
<p><div class="section-full-width section-dark-bg parallax-fixed" style="background-color:#3ca4cf;"><div style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-4510604-walkway-of-airport-m.jpg); opacity:0.5; filter: alpha(opacity=50);" class="full-bg-image" ></div><div class="section-boxed" style="color:#ffffff;"><h2 class="section-title" style="color:#ffffff;">Collaborate with Your Team</h2><h4 style="color:#ffffff;" class="sub-title">Etiam eget lectus nec eros dignissim auctor</h4>Donec et lectus tincidunt, facilisis sem nec, aliquam mauris. Nam dapibus mauris sit amet adipiscing luctus. Morbi convallis, purus eu congue placerat, nunc purus sodales elit, id consectetur magna lacus in augue. Aliquam leo est, convallis quis quam at, dapibus dictum mauris. Nam rhoncus enim massa, non ornare nibh sagittis vitae.</div></div>
<div class="section-boxed">
<div class="services-wrapper cols-wrapper cols-2 services-list pexeto-parallax"><h2 class="services-title">Reasons To Choose This Theme</h2><div class="sl-wrapper"><div class="col services-description"><div class="sl-description">Ut sit amet blandit arcu. Aenean vestibulum mi quis est ultrices vehicula. Quisque pellentesque augue ante, eget placerat odio adipiscing sed. Nulla adipiscing dapibus adipiscing. Suspendisse purus sapien, luctus pulvinar felis in, condimentum dapibus eros. Sed eget sem fermentum, lobortis massa sed, elementum nisi. Donec adipiscing aliquam nibh, et ultrices nunc pellentesque sed. Quisque pellentesque augue ante, eget placerat odio adipiscing sed Curabitur tristique orci vitae tellus imperdiet lobortis. Aliquam elementum nunc a tempus ultricies. Nam condimentum lacinia tortor, id fringilla elit mattis non. Curabitur tristique orci vitae tellus imperdiet lobortis. Ut sit amet blandit arcu. Aenean vestibulum mi quis est ultrices vehicula. Quisque pellentesque augue ante</div></div><div class="col sl-icons"><ul><li><a href="#" /><span class="sl-icon" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/heart-55x55.png)"></span></a><div class="sl-content"><a href="#" /><h3 class="sl-title">Built With Love</h3></a><p>Aenean lobortis sit amet est nec porttitor. Vivamus sed neque at magna gravida consequat. </p></div></li><li><a href="#" /><span class="sl-icon" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/lifebuoy-55x55.png)"></span></a><div class="sl-content"><a href="#" /><h3 class="sl-title">Dedicated Support</h3></a><p>Aenean lobortis sit amet est nec porttitor. Vivamus sed neque at magna gravida consequat. </p></div></li><li><a href="#" /><span class="sl-icon" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/tools-55x55.png)"></span></a><div class="sl-content"><a href="#" /><h3 class="sl-title">Powerful Admin</h3></a><p>Aenean lobortis sit amet est nec porttitor. Vivamus sed neque at magna gravida consequat. </p></div></li><li><a href="#" /><span class="sl-icon" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/brush-55x55.png)"></span></a><div class="sl-content"><a href="#" /><h3 class="sl-title">Unlimited Skins</h3></a><p>Aenean lobortis sit amet est nec porttitor. Vivamus sed neque at magna gravida consequat. </p></div></li></ul></div></div></div>
</div>
<p><div class="section-full-width section-dark" style="background-color:#454849;"><div class="section-boxed" style="color:#ffffff;"><h2 class="section-title" style="color:#ffffff;">Showcase Your Work</h2>Etiam fringilla condimentum enim, eget pretium erat scelerisque vitae. Integer id luctus turpis, convallis semper ipsum. In fermentum lacus eu justo interdum, dignissim feugiat quam aliquam. Quisque a fermentum diam. Mauris eros libero, consectetur sed tempus eu, vehicula eget sem.</p>
<div class="portfolio-carousel pc-no-link"><div class="pc-header"><div class="carousel-title"> <h4 class="small-title">Recent Projects</h4></div></div><div class="pc-wrapper"><div class="pc-holder"><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="fullslider" data-itemid="328"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/wide-image-slider-item/" title="Wide Image Slider Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/pump_without_pump-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon fullslider-icon"></span></span><div class="pg-details"><h2>Wide Image Slider Item</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="smallslider" data-itemid="302"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/the-standard-page-item/" title="Week Projects" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/skyline-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon smallslider-icon"></span></span><div class="pg-details"><h2>Week Projects</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="fullslider" data-itemid="93"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/one-column-slider/" title="One Column Slider" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-4794832d-girl-swinging-m-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon fullslider-icon"></span></span><div class="pg-details"><h2>One Column Slider</h2><span class="pg-categories">Design / People</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="smallslider" data-itemid="319"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/image-slider-item/" title="Image Slider Item " ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/doctype-hi-res1-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon smallslider-icon"></span></span><div class="pg-details"><h2>Image Slider Item </h2><span class="pg-categories">Design / Photography</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="standard" data-itemid="104"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/standard-page-link-item/" title="Standard Page Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2516147dddddd-palm-van-m1-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon standard-icon"></span></span><div class="pg-details"><h2>Standard Page Item</h2><span class="pg-categories">Design / Photography</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="lightbox" data-itemid="299"><a href="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-233439933-hight-mountains-caucasus-dombay-m.jpg" title="Images In Lightbox" rel="pglightbox" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-233439933-hight-mountains-caucasus-dombay-m-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon lightbox-icon"></span></span><div class="pg-details"><h2>Images In Lightbox</h2><span class="pg-categories">Design / Photography</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="standard" data-itemid="363"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/just-a-standard-page-item/" title="Just A Standard Page Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/6104272986_df22608f86_o-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon standard-icon"></span></span><div class="pg-details"><h2>Just A Standard Page Item</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="custom" data-itemid="117"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/" title="Custom Link Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2727050ddd-white-romance-m-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon custom-icon"></span></span><div class="pg-details"><h2>Custom Link Item</h2><span class="pg-categories">Design / Illustration</span></div></div></a></div></div><div class="pc-page-wrapper"><div class="pc-item" data-defwidth="350" data-type="lightbox" data-itemid="360"><a href="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/5958795851_287d3dfc42_o.jpg" title="Illustrations in Lightbox " rel="pglightbox" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/5958795851_287d3dfc42_o-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon lightbox-icon"></span></span><div class="pg-details"><h2>Illustrations in Lightbox </h2><span class="pg-categories">Design / Illustration</span></div></div></a></div><div class="pc-item" data-defwidth="350" data-type="fullvideo" data-itemid="306"><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/wide-video-item/" title="Wide Video Item" ><div class="pg-img-wrapper"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/office-illustrations-340x230.jpg"/></div><div class="pg-info"><span class="icon-circle"><span class="pg-icon fullvideo-icon"></span></span><div class="pg-details"><h2>Wide Video Item</h2><span class="pg-categories">Design / Video</span></div></div></a></div></div></div></div><div class="clear"></div></div>
<p></div></div>
<div class="section-boxed">
<div class="services-wrapper services-circle pexeto-parallax"><div class="services-title-box col"><h2>Meet The Team</h2><p>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit. Vestibulum iaculis quam nec diam sagittis cursus. Nunc quis aliquam erat, et eleifend orci</p></div><div class="services-box col" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/FACE41.jpg)"><div class="services-content"><div class="sc-wraper"><a href="#" /><h3>Lisa Kimberly</h3><p>Consectetur nullam ut  dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit.</p></a></div></div></div><div class="services-box col" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-3473199-smiling-group-m1.jpg)"><div class="services-content"><div class="sc-wraper"><a href="#" /><h3>Johnson Harris</h3><p>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit.</p></a></div></div></div><div class="services-box col" style="background-image:url(http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/face31.jpg)"><div class="services-content"><div class="sc-wraper"><a href="#" /><h3>Elizabeth Brown</h3><p>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit.</p></a></div></div></div><div class="clear"></div></div></div>
</div>
</div> <!-- end main content holder (#content/#full-width) -->
<div class="clear"></div>
</div> <!-- end #content-container -->
</div>
<div id="footer" class="center">
		<div class="scroll-to-top"><span></span></div>
	
		<div id="footer-cta">
		<div class="section-boxed">
		<div class="footer-cta-first"><h5>Mineral Responsive WordPress Theme</h5></div>
		<div class="footer-cta-disc"><p>Mineral is a modern, clean and fully responsive WordPress theme</p></div>
				<div class="footer-cta-button">
			<a href="http://themeforest.net/item/mineral-responsive-multipurpose-wordpress-theme/5221751" class="button">Purchase Theme</a>
		</div>
				<div class="clear"></div>
	</div>
	</div>
		<div class="cols-wrapper footer-widgets section-boxed cols-4">
	<div class="col"><div class="footer-box widget_text" id="text-3"><h4 class="title">Responsive Design</h4>			<div class="textwidget"><p>Mineral WordPress theme has a responsive layout – it looks and works great on mobile devices. All the main sliders and galleries have been designed to fit and work well on small screens, which makes it very easy to browse. </p><p>We have also included finger gesture support for the main gallery sliders and carousels.</p>
</div>
		</div></div><div class="col"><div class="footer-box pexeto_blog_posts" id="pexeto-blog-posts-3"><h4 class="title">Latest Posts</h4>
	<div class="sidebar-latest-posts">
			<div class="lp-wrapper">
				<a href="http://pexetothemes.com/demos/mineral_wp/how-to-have-the-best-vacation/"> <img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/03/blog1-300x145-80x65.jpg" class="alignleft img-frame" width="55" height="47" />
		</a>
				<div class="lp-info-wrapper">
			<span class="lp-title"><a href="http://pexetothemes.com/demos/mineral_wp/how-to-have-the-best-vacation/">How to Have The Best Vacation</a></span>
			<span class="lp-post-info"><a href="http://pexetothemes.com/demos/mineral_wp/how-to-have-the-best-vacation/">Mar 3rd, 2013 </a> </span>
			<div class="clear"></div>		
		</div>
	    
		<div class="clear"></div>
	    </div>
		
				<div class="lp-wrapper">
				<a href="http://pexetothemes.com/demos/mineral_wp/standard-post-format/"> <img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/03/blog2-300x145-80x65.jpg" class="alignleft img-frame" width="55" height="47" />
		</a>
				<div class="lp-info-wrapper">
			<span class="lp-title"><a href="http://pexetothemes.com/demos/mineral_wp/standard-post-format/">Standard Post Format</a></span>
			<span class="lp-post-info"><a href="http://pexetothemes.com/demos/mineral_wp/standard-post-format/">Mar 3rd, 2013 </a> </span>
			<div class="clear"></div>		
		</div>
	    
		<div class="clear"></div>
	    </div>
		
				<div class="lp-wrapper">
				<a href="http://pexetothemes.com/demos/mineral_wp/get-more-done-with-less-stress/"> <img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2012/10/blog3-300x145-80x65.jpg" class="alignleft img-frame" width="55" height="47" />
		</a>
				<div class="lp-info-wrapper">
			<span class="lp-title"><a href="http://pexetothemes.com/demos/mineral_wp/get-more-done-with-less-stress/">Get More Done with Less Stress</a></span>
			<span class="lp-post-info"><a href="http://pexetothemes.com/demos/mineral_wp/get-more-done-with-less-stress/">Oct 14th, 2012 </a> </span>
			<div class="clear"></div>		
		</div>
	    
		<div class="clear"></div>
	    </div>
		
			</div>
	</div></div><div class="col"><div class="footer-box widget_categories" id="categories-4"><h4 class="title">Categories</h4>		<ul>
	<li class="cat-item cat-item-44"><a href="http://pexetothemes.com/demos/mineral_wp/category/featured/" title="View all posts filed under Featured">Featured</a>
</li>
	<li class="cat-item cat-item-13"><a href="http://pexetothemes.com/demos/mineral_wp/category/general/" title="View all posts filed under General">General</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://pexetothemes.com/demos/mineral_wp/category/photography/" title="View all posts filed under Photography">Photography</a>
</li>
	<li class="cat-item cat-item-15"><a href="http://pexetothemes.com/demos/mineral_wp/category/productivity/" title="View all posts filed under Productivity">Productivity</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://pexetothemes.com/demos/mineral_wp/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
</li>
	<li class="cat-item cat-item-16"><a href="http://pexetothemes.com/demos/mineral_wp/category/videos/" title="View all posts filed under Videos">Videos</a>
</li>
		</ul>
</div></div><div class="col nomargin"><div class="footer-box posts_multi" id="portfolio-posts-multi-4"><h4 class="title">Latest Projects</h4> <ul class="portfolio-items-widget">
 
<li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/side-description-slider/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/3929956778_4809d7e575_o-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/wider-slider/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2516147dddddd-palm-van-m-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/lazy-image-loading/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/5386099858_588183d3b4_o-90x90.png" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/image-slider-item/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/doctype-hi-res1-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/home-business/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/3853779489_0d05f994b7_o-90x90.gif" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/images-in-lightbox/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-233439933-hight-mountains-caucasus-dombay-m-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/full-width-slider/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/3062961982_e4c7534ecf_o-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/slider-with-side-discription/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/7390057264_6e97e04012_o-90x90.jpg" class="img-frame"/></a></li><li><a href="http://pexetothemes.com/demos/mineral_wp/portfolio/standard-page-link-item/"><img src="http://pexetothemes.com/demos/mineral_wp/wp-content/uploads/2013/07/photodune-2516147dddddd-palm-van-m1-90x90.jpg" class="img-frame"/></a></li></ul></div></div>	</div>
	<div class="footer-bottom">
	<div class="section-boxed">
<span class="copyrights">
&copy; Copyright Mineral &#8211; Responsive WordPress Theme</span>
<div class="footer-nav">
<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-343"><a href="http://pexetothemes.com/demos/mineral_wp/">Home</a></li>
<li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341"><a href="http://pexetothemes.com/demos/mineral_wp/blog-standard-layout/">Blog</a></li>
<li id="menu-item-342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-342"><a href="http://pexetothemes.com/demos/mineral_wp/contact/">Contact</a></li>
</ul></div></div>

	<div id="social-profiles"><ul class="social-icons">
		<li>
		<a href="http://www.facebook.com/pages/Pexeto/154921334549933" target="_blank"  title="Pexeto on Facebook">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/facebook.png" alt="" />
			</div>
		</a>
	</li>
		<li>
		<a href="https://twitter.com/pexeto" target="_blank"  title="Follow us on Twitter">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/twitter.png" alt="" />
			</div>
		</a>
	</li>
		<li>
		<a href="https://plus.google.com/114425844684215069484/posts" target="_blank"  title="Pexeto on Google+">
			<div>
				<img src="http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/images/icons/googleplus.png" alt="" />
			</div>
		</a>
	</li>
		</ul></div>
	
</div>
</div>
</div> <!-- end #footer-->
</div> <!-- end #main-container -->