<!DOCTYPE html>
<html>
<head>
  <title>Intraworlds</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  	<link rel='stylesheet' id='pexeto-style-switcher-css-css'  href='http://pexetothemes.com/demos/mineral_wp/wp-content/plugins/pexeto-style-switcher/css/style-switcher.css?ver=3.9.2' type='text/css' media='all' />
	<link rel='stylesheet' id='pexeto-colorpicker-css-css'  href='http://pexetothemes.com/demos/mineral_wp/wp-content/plugins/pexeto-style-switcher/css/colorpicker.css?ver=3.9.2' type='text/css' media='all' />
	<link rel='stylesheet' id='pexeto-font-0-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700&#038;ver=3.9.2' type='text/css' media='all' />
	<link rel='stylesheet' id='pexeto-pretty-photo-css'  href='http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/css/prettyPhoto.css?ver=1.3.1' type='text/css' media='all' />
	<link rel='stylesheet' id='pexeto-stylesheet-css'  href='http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/style.css?ver=1.3.1' type='text/css' media='all' />
	<link rel='stylesheet' id='wp-pagenavi-css'  href='http://pexetothemes.com/demos/mineral_wp/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
	<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-content/plugins/anti-spam/js/anti-spam.js?ver=2.1'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-content/plugins/pexeto-style-switcher/js/colorpicker.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-content/plugins/pexeto-style-switcher/js/style-switcher.js?ver=3.9.2'></script>
<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=1.3.1'></script>
<link rel='prev' title='Styled Elements' href='http://pexetothemes.com/demos/mineral_wp/styled-elements/' />
<link rel='next' title='Images and Videos' href='http://pexetothemes.com/demos/mineral_wp/images-and-videos/' />
</head>
<body class="home page page-id-23 page-template page-template-template-full-custom-php fixed-header fixed-header-scroll">

<%= yield %>


<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-includes/js/underscore.min.js?ver=1.6.0'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/js/main.js?ver=1.3.1'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-content/themes/mineral/js/content-slider.js?ver=1.3.1'></script>
<script type='text/javascript' src='http://pexetothemes.com/demos/mineral_wp/wp-includes/js/comment-reply.min.js?ver=3.9.2'></script>

<script type="text/javascript">jQuery("document").ready(function($){new PEXETO_SS.styleSwitcher({"colors":[{"id":"pexeto_color_1","colors":"26ae90,00a569,98be5d,029fc5,4090ba,257fb1,dd6053,d14836,efc860,bf6b8a,876096,535961,cdc8b2,8c8c8c,323a45","colors_bg":"button, .button, input[type=\\\"submit\\\"], #submit, .page-title, #menu > ul > li > a:hover:after, .scroll-to-top:hover, .nivo-nextNav:hover,.nivo-prevNav:hover, .pg-navigation, .pc-next, .pc-prev,  .nivo-prevNav:hover,.nivo-nextNav:hover,.left-arrow:hover,.right-arrow:hover, .ps-left-arrow:hover,.ps-right-arrow:hover,.cs-next-arrow:hover,.cs-prev-arrow:hover, .ps-left-arrow:hover,.ps-right-arrow:hover ","colors_text":"a:hover, .tabs .current a, .read-more, .footer-widgets a:hover, .comment-info .reply, .comment-info .reply a, .comment-info, #menu ul li a:hover, #wp-calendar tbody td a, .widget_nav_menu li.current-menu-item > a, .post-title a:hover, .post-tags a, .services-list .services-title, .sl-icons li:hover .sl-title, .archive-page a:hover, .pg-pagination a.current, .pg-pagination a:hover, #content-container .wp-pagenavi span.current, #content-container .wp-pagenavi a:hover, .carousel-title .link-title, .testimonials-details a, .lp-title a:hover, #menu ul ul li.current-menu-item a","colors_border":".accordion-title.current, .read-more:hover, .more-arrow, .sticky, .social-icons li:hover,.format-quote, .format-aside, .nivo-nextNav:hover, .nivo-prevNav:hover, .nivo-prevNav:hover,.nivo-nextNav:hover, .left-arrow:hover, .right-arrow:hover, .ps-left-arrow:hover, .ps-right-arrow:hover, .cs-next-arrow:hover, .cs-prev-arrow:hover, .ps-left-arrow:hover, .ps-right-arrow:hover","colors_bg_rgba":".pg-info, .services-circle .services-content, .qg-overlay","colorpicker":"on","colors_title":"Accent Color"}],"patterns":[],"switcher_opened":false,"switcher_width":76,"switcher_add_text":"You can see some more examples of style options <a href=http:\/\/pexetothemes.com\/demos\/mineral_wp\/unlimited-skins\/ >here<\/a>.","switcher_block_width":20,"switcher_block_height":17,"appendto":"body"}).init();});</script><script type="text/javascript">var PEXETO = PEXETO || {};PEXETO.ajaxurl="http://pexetothemes.com/demos/mineral_wp/wp-admin/admin-ajax.php";PEXETO.lightboxOptions = {"theme":"pp_default","animation_speed":"normal","overlay_gallery":false,"allow_resize":true};PEXETO.disableRightClick=false;PEXETO.stickyHeader=true;jQuery(document).ready(function($){
					PEXETO.init.initSite();$("#content-slider-23").pexetoContentSlider({"autoplay":true,"pauseOnHover":true,"animationSpeed":400,"animationInterval":7000,"buttons":true,"arrows":true});$(".pexeto-contact-form").each(function(){
			$(this).pexetoContactForm({"wrongCaptchaText":"The text you have entered did not match the text on the image. Please try again.","failText":"An error occurred. Message not sent.","validationErrorText":"Please complete all the fields correctly","messageSentText":"Message sent","captcha":true});
		});});</script>
</body>
</html>
